<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoran.meiju.dao.ICarousel_hotlistDao">
	<select id="getAll" resultType="Carousel_hotlist">
		select * from carousel_hotlist
	</select>
	<select id="getById" resultType="Carousel_hotlist">
		select * from carousel_hotlist where id=#{0}
	</select>
	<select id="getByName" resultType="Carousel_hotlist">
		select * from carousel_hotlist where titleName=#{0}
	</select>
	<select id="getPage" resultType="Carousel_hotlist">
		select * from carousel_hotlist limit #{0},#{1}
	</select>
	<select id="countAll" resultType="int">
		select count(titleId) from carousel_hotlist
	</select>
	
	
</mapper>