<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoran.meiju.dao.IContentDao">
	<select id="getAll" resultType="Content">
		select * from content
	</select>
	<select id="getById" resultType="Content">
		select * from content where contentId=#{0}
	</select>
	<select id="getByName" resultType="Content">
		select * from content where contentName=#{0}
	</select>
	<select id="getPage" resultType="Content">
		select * from content limit #{0},#{1}
	</select>
	<select id="countAll" resultType="int">
		select count(typeId) from content
	</select>
	
	<select id="getByTitleId" resultType="Content">
		select * from content where titleId=#{0}
	</select>
</mapper>