<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoran.meiju.dao.IDownload_informationDao">
	<select id="getAll" resultType="Download_information">
		select * from download_information
	</select>
	<select id="getById" resultType="Download_information">
		select * from download_information where id=#{0}
	</select>
	<select id="getByName" resultType="Download_information">
		select * from download_information where titleName=#{0}
	</select>
	<select id="getPage" resultType="Download_information">
		select * from download_information limit #{0},#{1}
	</select>
	<select id="countAll" resultType="int">
		select count(titleId) from download_information
	</select>
	
	<!-- private -->
	<select id="getByTitleId" resultType="Download_information">
		select * from download_information where TitleId=#{0}
	</select>
	
	<select id="getPageSortTimesDesc" resultType="Download_information">
		select * from download_information order by downloadTimes desc limit #{0},#{1}
	</select>
	
	<select id="getPageByTypeSortTimesDesc" resultType="Download_information">
		select * from download_information where typeId=#{0} order by downloadTimes desc limit #{1},#{2}
	</select>
	
	
</mapper>