<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoran.meiju.dao.ITitleDao">
	<select id="getAll" resultMap="TitleMap">
		select * from title
	</select>
	<resultMap type="Title" id="TitleMap">
         <id property="titleId" column="titleId"/>
         <association property="type" column="typeId" javaType="Type" select="qgetById"/>
    </resultMap>
    <select id="qgetById" parameterType="int" resultType="Type">
		select * from type where typeId=#{0}
	</select>
	<select id="getById" resultMap="TitleMap">
		select * from title where titleId=#{0}
	</select>
	<select id="getByName" resultType="Title">
		select * from title where titleName=#{0}
	</select>
	<select id="getPage" resultMap="TitleMap">
		select * from title limit #{0},#{1}
	</select>
	<select id="countAll" resultType="int">
		select count(titleId) from title
	</select>
	
	<!-- private -->
	<select id="countByType" resultType="int">
		select count(titleId) from title where typeId=#{0}
	</select>
	
	<select id="countByName" resultType="int">
		select count(titleId) from title where titleName like concat('%',#{0},'%')
	</select>
	
	<select id="getPageByType" resultMap="TitleMap">
		select * from title where typeId=#{0} limit #{1},#{2}
	</select>
	
	<select id="getPageByName" resultMap="TitleMap">
		select * from title where titleName like concat('%',#{0},'%') limit #{1},#{2}
	</select>
	
	<select id="getPageSortDateDesc" resultMap="TitleMap">
		select * from title order by premiereDate desc limit #{0},#{1}
	</select>
	
	<select id="getPageByTypeSortDateDesc" resultMap="TitleMap">
		select * from title where typeId=#{0} order by premiereDate desc limit #{1},#{2}
	</select>
	
	<select id="getPageSortDTimesDesc" resultMap="TitleMap">
		select * from title order by downloadTimes desc limit #{0},#{1}
	</select>
	
	<select id="getPageByTypeSortDTimesDesc" resultMap="TitleMap">
		select * from title where typeId=#{0} order by downloadTimes desc limit #{1},#{2}
	</select>
	
</mapper>