<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoran.meiju.dao.ITypeDao">
	<select id="getAll" resultType="Type">
		select * from type
	</select>
	<select id="getById" resultType="Type">
		select * from type where typeId=#{0}
	</select>
	<select id="getByName" resultType="Type">
		select * from type where typeName=#{0}
	</select>
	<select id="getPage" resultType="Type">
		select * from type limit #{0},#{1}
	</select>
	<select id="countAll" resultType="int">
		select count(typeId) from type
	</select>
	
</mapper>